:root {
  --primary-color-1: #f0f0f0;
  --primary-color-2: #ddd;
  --secondary-color-1: rgb(249, 207, 109);
  --secondary-color-2: rgb(255, 169, 64);
  --complementary-color-1: #b8d0c3;
  --complementary-color-2: #527763;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* LAYOUTS */

/* PAGES */
/* /(customer)/booking/selection/page.tsx */
#customer #booking #selection-page {
  margin-bottom: 96px;
}
#customer #booking #selection-page .footer {
  background-color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
}

/* COMPONENTS */
/* Description.tsx */
.description-field {
  font-size: 13px;
  background-color: var(--complementary-color-1);
  border: 1px solid var(--complementary-color-2);
  border-radius: 5px;
  padding: 15px;
}

/* TypeSelection.tsx */
.type-selection {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0;
}

.type-selection label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-1);
  border: 1px solid var(--primary-color-2);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.type-selection label.checked {
  background-color: var(--secondary-color-1);
  border: 1px solid var(--secondary-color-2);
}

.type-selection input[type='radio'] {
  display: none;
}

/* TimeSelection.tsx */
.time-selection {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0;
}

.time-selection .calendar-day-switch-button {
  height: 40px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-1);
  border: 1px solid var(--primary-color-2);
  border-radius: 5px;
  cursor: pointer;
}

/* CalendarView.tsx */
.calendar-view {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

/* CalendarColumn.tsx */
.calendar-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

/* CalendarColumnHeader.tsx */
.calendar-column-header {
  background-color: var(--primary-color-1);
  text-align: center;
  padding: 10px;
  border: 1px solid var(--primary-color-2);
  border-radius: 5px;
}

/* CalendarColumnInputCell.tsx */
.calendar-column-input-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-1);
  border: 1px solid var(--primary-color-2);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.calendar-column-input-cell.checked {
  background-color: var(--secondary-color-1);
  border: 1px solid var(--secondary-color-2);
}

.calendar-column-input-cell input[type='radio'] {
  display: none;
}

/* CreateBooking.tsx */
.create-booking .create-booking-button {
  background-color: var(--secondary-color-1);
  border: 1px solid var(--secondary-color-2);
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  width: 160px;
  cursor: pointer;
}
